.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.white-title {
  color: #FFFFFF;
}

.button-modal, .features__item, .masters__social-list, .masters__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu, .price .container, .masters__box, .online-record .container, .online-form, .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  color: #303030;
  background-color: #F7F7F7;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
p,
section {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: #303030;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 55px;
    padding-right: 55px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  width: 160px;
  height: 40px;
  padding: 12px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  background-color: transparent;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 250ms ease-in-out,  background-color 250ms ease-in-out;
  transition: color 250ms ease-in-out,  background-color 250ms ease-in-out;
}

.button:active, .button:hover, .button:focus {
  background-color: #FF6C00;
  color: #FFFFFF;
}

.white__button {
  color: #FFFFFF;
}

.menu__button {
  width: 194px;
  margin-bottom: 64px;
}

.button-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  outline: none;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #FF6C00;
  border-radius: 50%;
}

.button-modal-icon {
  width: 25px;
  height: 25px;
  -webkit-transition: fill 250ms ease-in-out;
  transition: fill 250ms ease-in-out;
}

.button-modal:focus .button-modal-icon,
.button-modal:hover .button-modal-icon {
  fill: #FF6C00;
}

.header {
  position: absolute;
  width: 100%;
  min-height: 110px;
  padding-top: 40px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header .container {
    max-width: 100%;
  }
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .main-header {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main-header {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu__item:not(:last-child) {
  margin-right: 25px;
}

.main-menu__item a {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.main-menu__item a:hover, .main-menu__item a:focus {
  color: #FF6C00;
}

.main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-contact a {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.main-contact a:hover, .main-contact a:focus {
  color: #FF6C00;
}

@media screen and (min-width: 768px) {
  .main-contact {
    margin-left: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .main-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main-contact__link {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .main-contact__link {
    margin-top: 0;
    margin-right: 40px;
  }
}

.logo {
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .logo {
    fill: #303030;
  }
}

.logo-link {
  margin-left: 31px;
}

@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 60px;
    margin-left: 0;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: 3;
  background-color: #FFFFFF;
  color: rgba(157, 164, 189, 0.6);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  padding: 118px 61px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button--open {
  margin-right: 31px;
}

.menu-button--close {
  position: absolute;
  top: 48px;
  right: 31px;
}

.menu-button__icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  fill: #FFFFFF;
}

.icon-close {
  fill: #303030;
}

.mobile-menu-list {
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
}

.mobile-menu-list li a {
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.mobile-menu-list li a:hover, .mobile-menu-list li a:focus {
  color: #FF6C00;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-number {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: #303030;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

@media screen and (max-width: 479px) {
  .menu-number {
    font-size: 4vw;
  }
}

.menu-number:hover, .menu-number:focus {
  color: #FF6C00;
}

.menu__social-link {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.menu__social-link a:hover, .menu__social-link a:focus {
  color: #FF6C00;
}

.hero .container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .hero .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    min-width: 1200px;
  }
}

.hero .container .hero__social {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 24px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .hero .container .hero__social {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero .container .hero__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(-90deg) translate(-19px);
            transform: rotate(-90deg) translate(-19px);
  }
  .hero .container .hero__social-list::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #303030;
  }
  .hero .container .hero__social-list li a {
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
  }
  .hero .container .hero__social-list li a:hover, .hero .container .hero__social-list li a:focus {
    color: #FF6C00;
  }
}

.hero .container .hero__social-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 768px) {
  .hero .container .hero__social-item:not(:last-child) {
    margin-right: 40px;
  }
}

.hero .container .hero-content {
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .hero .container .hero-content {
    padding: 208px 31px 183px 31px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-1-480.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-1-480.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero .container .hero-content {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-1-480@2x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-1-480@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero .container .hero-content {
    padding: 280px 39px 234px 39px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-1-576.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-1-576.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero .container .hero-content {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-1-576@2x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-1-576@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero .container .hero-content {
    padding: 192px 52px 199px 99px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-1-1072.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-1-1072.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero .container .hero-content {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-1-1072@2x.jpg");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-1-1072@2x.jpg");
  }
}

.hero__pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero__pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 10vw;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
}

.hero__text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

@media screen and (min-width: 1200px) {
  .hero__text {
    width: 400px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 768px) {
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__title-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .about__title-first {
    margin-bottom: 19px;
  }
}

.about__title-first::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #303030;
}

@media screen and (max-width: 767px) {
  .about__picture-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about__picture-list {
    margin-right: 30px;
  }
  .about__picture-list li {
    width: 330px;
  }
  .about__picture-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__picture-list {
    margin-right: 64px;
  }
  .about__picture-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__picture-list li {
    width: 270px;
  }
  .about__picture-list li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.about__main-title {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 1200px) {
  .about__main-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }
}

.about__main-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #555555;
}

@media screen and (min-width: 1200px) {
  .about__main-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}

.about__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.price {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #191C26;
}

@media screen and (max-width: 767px) {
  .price {
    background-image: url(../images/price-480.png);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url(../images/price-480@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .price {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/price-768.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/price-768.png");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/price-768@2x.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/price-768@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .price {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/price-1280.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/price-1280.png");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/price-1280@2x.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/price-1280@2x.png");
  }
}

.price .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general-price {
  width: 100%;
}

.price__pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

@media screen and (min-width: 768px) {
  .price__pre-title {
    text-align: start;
  }
}

.price__pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(157, 164, 189, 0.6);
}

.price__title {
  margin-bottom: 44px;
  color: #FFFFFF;
}

.price__list {
  margin-bottom: 50px;
  color: #9DA4BD;
  background: -webkit-gradient(linear, left top, left bottom, from(#171A24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

@media screen and (max-width: 767px) {
  .price__list ul:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .price__list {
    padding: 0;
  }
}

@media screen and (max-width: 1199px) {
  .price__list ul {
    padding: 30px 40px;
  }
  .price__list ul:not(:last-child) {
    padding-bottom: 0;
  }
  .price__list ul:last-child {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .price__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .price__list ul {
    padding: 30px 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .price__list .dark {
    background: -webkit-gradient(linear, left top, left bottom, from(#090B13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .price__item {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }
}

.price__item:not(:last-child) {
  margin-bottom: 20px;
}

.price__item::after {
  content: '';
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item-text:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (min-width: 768px) {
  .features .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .features .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .features-first {
    width: 500px;
  }
  .features-second {
    width: 450px;
    margin-left: 250px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .features-second {
    width: 370px;
    margin-left: 0;
  }
}

.features__pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.features__pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #303030;
}

.features__title {
  margin-bottom: 20px;
}

.features__text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  width: 193px;
  height: 133px;
  padding: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E5E5E5;
}

.features__item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  text-align: center;
}

.features__item span sup {
  margin-left: 2px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #FF6C00;
}

.features__item p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .features__item {
    width: calc((100% - 2 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 170px;
    height: 133px;
  }
}

.features__item:nth-child(2n+1) {
  margin-right: 30px;
}

.features__item:not(:last-child) {
  margin-bottom: 15px;
}

.features__item:nth-child(2n) {
  margin-top: 30px;
}

.features__item:nth-child(2n) {
  margin-bottom: 0;
}

.masters {
  background-color: #E5E5E5;
}

@media screen and (min-width: 768px) {
  .masters .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .masters .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .masters .container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.masters__pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.masters__pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #303030;
}

.masters__title {
  margin-bottom: 44px;
}

.masters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .masters__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.masters__li:not(:last-child) {
  margin-bottom: 64px;
}

@media screen and (min-width: 1200px) {
  .masters__li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.masters__box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.masters__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
}

.masters__position {
  margin-bottom: 30px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FF6C00;
}

.masters__social-item:not(:last-child) {
  margin-right: 10px;
}

.masters__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #303030;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

.masters__social-link:hover, .masters__social-link:focus {
  color: #FF6C00;
}

.masters__social-icon {
  width: 20px;
  height: 20px;
  padding: 12px;
  fill: currentColor;
}

.masters__social-item:hover .masters__social-icon, .masters__social-item:focus .masters__social-icon {
  fill: #FF6C00;
}

.gallery {
  background-color: #FFFFFF;
}

.gallery__pre-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gallery__pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #303030;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item:not(:last-child) {
    margin-right: 30px;
  }
}

.online-record {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #191C26;
}

@media screen and (min-width: 1200px) {
  .online-record {
    padding-left: 100px;
  }
}

.online-record .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .online-record .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.online-title {
  margin-bottom: 44px;
}

.online-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(157, 164, 189, 0.6);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.online-input {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .online-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .form-field {
    margin-bottom: 33px;
  }
  .form-field:not(:last-child) {
    margin-right: 30px;
  }
}

.form-field input {
  height: 23px;
}

.form-field textarea {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-input {
  margin: 0;
  padding: 3px;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  cursor: pointer;
  color: #FFFFFF;
  outline: none;
}

.form-input:focus + label, .form-input:hover + label, .form-input:not(:placeholder-shown) + label {
  color: #FFFFFF;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.form-input:focus, .form-input:hover {
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.form-label {
  position: absolute;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.contact {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #191C26;
}

@media screen and (max-width: 767px) {
  .contact {
    background-image: url(../images/footer-mobile.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .contact {
    background-image: url(../images/footer-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .contact {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/footer-tablet.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/footer-tablet.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contact {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/footer-tablet@2x.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/footer-tablet@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    padding-left: 100px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/footer-desktop.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/footer-desktop.png");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contact {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/footer-desktop@2x.png");
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/footer-desktop@2x.png");
  }
}

.contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .contact-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.contact-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-right: 30px;
  }
}

.contact-list li a {
  color: #9DA4BD;
}

.address {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .address {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 70px;
  }
}

.contact-icon {
  width: 24px;
  height: 24px;
}

.contact-link {
  font-style: normal;
  margin-left: 16px;
}

.contact-item, .time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contact-item:not(:last-child) {
  margin-bottom: 20px;
}

.time-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.time-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(157, 164, 189, 0.6);
}

@media screen and (min-width: 768px) {
  .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

.footer__social-list::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #303030;
}

.footer__social-list li a {
  color: #303030;
}

.footer__social-list li:not(:last-child) {
  margin-right: 40px;
}

.copyright {
  color: #9DA4BD;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background-color: #FFFFFF;
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 10px);
    padding: 8px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: auto;
  }
}

.modal-box {
  padding: 40px;
}

.modal-title {
  font-size: 35px;
  margin-bottom: 44px;
}

.modal-form {
  color: #303030;
}

.modal-form-input {
  margin: 0;
  padding: 3px;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.6);
  cursor: pointer;
  color: #303030;
  outline: none;
}

.modal-form-input:focus + label, .modal-form-input:hover + label, .modal-form-input:not(:placeholder-shown) + label {
  color: rgba(157, 164, 189, 0.6);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.form-input:focus, .form-input:hover {
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.form-label {
  position: absolute;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
/*# sourceMappingURL=main.css.map */