.features__pre-title {
    display: flex;
    margin-bottom: 20px;
    @include font (600, 11px, 1.36, 0.1em);
    text-transform: uppercase;   

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        margin-right: 20px;
        align-self: center;
        background-color: $main-text-color;
    }
}

.features__title {
    margin-bottom: 20px;
}

.features__text {
    margin-bottom: 44px;
    @include font (null, 18px, 1.67, 0.02em);
    color: $article-text-color;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.features__item {
    width: 193px;
    height: 133px;
    padding: auto;
    @extend %flex-centered;
    flex-direction: column;
    background-color: $secondary-based-color;

    span {
        @include font (700, 42px, 1.36, 0.05em);
        text-align: center;
    
        sup {
            margin-left: 2px;
            @include font (600, 16px, 1.38, null);
            color: $accent-color;
        }
    }
    p {
        @include font (600, 11px, 1.36, null);
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
    }

@media screen and (max-width:479px) {
    width: calc((100% - 2 * 15px) / 2);
}
}

.features__item:nth-child(2n+1) {
    margin-right: 30px;
  }

.features__item:not(:last-child) {
    margin-bottom: 15px;
  }

.features__item:nth-child(2n) {
    margin-top: 30px;
  }

  .features__item:nth-child(2n) {
    margin-bottom: 0;
  }
  