.gallery__pre-title {
    display: flex;
    margin-bottom: 44px;
    @include font (600, 11px, 1.91, 0.1em);
    text-transform: uppercase;

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        margin-right: 20px;
        align-self: center;
        background-color: $main-text-color;
    }
}

.gallery__item:not(:last-child) {
    margin-bottom: 30px;
}