.header {
    position: absolute;
    width: 100%;
    min-height: 110px;
    padding-top: 40px;

    .container {
        @media screen and (max-width:767px) {
          max-width: 100%;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
}

.main-header {
  @media screen and (max-width:767px) {
    display: none;
  }
  display: flex;
  justify-content: center;

  @media screen and (min-width:1200px) {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
}

.main-menu {
  display: flex;
}

.main-menu__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
  a {
    @include font (600, 12px, 1.33, 0.1em);
    color: $white-color;
    transition: color 250ms ease-in-out;

    &:hover, &:focus {
      color: $accent-color;
    }
  }
}

.main-contact {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  a {
    @include font (600, 12px, 1.33, 0.1em);
    color: $white-color;
    transition: color 250ms ease-in-out;
    &:hover, &:focus {
      color: $accent-color;
    }
  }
  @media screen and (min-width:768px) {
    margin-left: 48px;
  }
  @media screen and (min-width:1200px) {
    flex-direction: row;
  }
}

.main-contact__link {
  margin-top: 20px;

  @media screen and (min-width:1200px) {
    margin-top: 0;
    margin-right: 40px;
  }
}
