body {
    color: $main-text-color;
    background-color: $based-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

h1, 
h2, 
h3, 
p,
section {
  margin-top: 0;
  margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
  
.link {
    text-decoration: none;
    color: $main-text-color;
}
  
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 84px;
    padding-bottom: 84px;
    padding-left: 31px;
    padding-right: 31px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:768px) {     
      padding-top: 100px;
      padding-bottom: 100px;
      padding-left: 39px;
      padding-right: 39px;
    }

    @media screen and (min-width:1200px) {     
      padding-top: 130px;
      padding-bottom: 130px;
      padding-left: 55px;
      padding-right: 55px;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:480px) {
      max-width: 448px;
    }    
    @media screen and (min-width:768px) {
      max-width: 720px;
    }
    @media screen and (min-width:1200px) {
      max-width: 1200px;
    }
}
