.masters__pre-title {
    display: flex;
    margin-bottom: 20px;
    @include font (600, 11px, 1.36, 0.1em);
    text-transform: uppercase;

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        margin-right: 20px;
        align-self: center;
        background-color: $main-text-color;
    }
}

.masters__title {
    margin-bottom: 44px;
}

.masters__list:not(:last-child) {
    margin-bottom: 64px;
}

.masters__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.masters__name {
    margin-bottom: 8px;
    @include font (null, 18px, 1.39, 0.02em);
    text-align: center;
}

.masters__position {
    margin-bottom: 30px;
    @include font (null, null, 1.36, 0.02em);
    text-align: center;
    color: $accent-color;
}

.masters__social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.masters__social-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.masters__social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $white-color;
    color: $main-text-color;
    transition: color 250ms ease-in-out;
    
    &:hover, &:focus {
        color: $accent-color;
    }
}

.masters__social-icon {
    width: 20px;
    height: 20px;
    padding: 12px;
    fill: currentColor;

    .masters__social-item:hover &, .masters__social-item:focus & {
        fill: $accent-color;
    }
}