.online-record {
    flex-grow: 1;
    background-color: $contact-background;

    @media screen and (min-width:1200px) {
        padding-left: 100px;
    }
    .container {
        @extend %flex-column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:768px) {
            align-items: start;
        }
    }
}

.online-title {
    margin-bottom: 44px;
}

.online-form {
    @extend %flex-column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: $shadow-text-color;
    @include font (600, 11px, 1.36, 0.1em);
    text-transform: uppercase;
}

.online-input {
    width: 100%;
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}

.form-field {
    @extend %flex-column;
    position: relative;
    width: 100%;
    margin-bottom: 44px;

    @media screen and (min-width:768px) {
        margin-bottom: 33px;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    input {
        height: 23px;

    }
    textarea {
        height: 75px;
        display: flex;
    }
}

.form-input {
    margin: 0;
    padding: 3px;
    resize: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $shadow-text-color; 
    cursor: pointer;
    color: $white-color;
    outline: none;
}

.form-input:focus + label, .form-input:hover + label, .form-input:not(:placeholder-shown) + label {
    color: $white-color;
    transform: translateY(-100%);
}

.form-input:focus, .form-input:hover {
    border: none;
    border-bottom: 1px solid $white-color;
}

.form-label {
    position: absolute;
    transition: transform 250ms ease-in-out;
}