.contact {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $contact-background;

    @media screen and (max-width: 767px) {
        background-image: url(../images/footer-mobile.png);
        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
            background-image: url(../images/footer-mobile@2x.png);
        }
    }
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/footer-tablet.png');
        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/footer-tablet@2x.png');
            }
        }
    @media screen and (min-width: 1200px) {
        padding-left: 100px;
        background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/footer-desktop.png');
        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../images/footer-desktop@2x.png');
                }
    }
}

.contact-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @media screen and (min-width:768px) {
        justify-content: start;
    }
}
.contact-list {
    justify-content: flex-start;
    @media screen and (min-width:768px) {
        margin-right: 30px;
    }

    li a {
        color: $secondary-text-color;
    }
}

.address {
    margin-bottom: 44px;
    @media screen and (min-width:768px) {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 30px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 70px;
    }
}

.contact-icon {
    width: 24px;
    height: 24px;
}

.contact-link {
    font-style: normal;
    margin-left: 16px;
}

.contact-item, .time-text {
    @include font (null, 18px, 1.67, 0.02em);
    color: $secondary-text-color;
}
.contact-item:not(:last-child) {
    margin-bottom: 20px;
}

.time-title {
    color: $white-color;
    &::before {
        background-color: $shadow-text-color;
    }
}

.contact-box {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: flex-start;
    }
    @media screen and (min-width:1200px) {
        flex-direction: column;
    }
}

.contact-wrap {
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}
